[settings]
environment = "dev"
show_compiler_warnings = true 

[codegen]
structs_dir = "src/structs/generated"
models_dir = "src/models/generated"
schema_file = "src/database/schema.rs"

# Post-generation hooks section - scripts to run after code generation
[codegen.hooks]
# Set to true to enable running post-generation hooks
enabled = true
# Scripts to run after specific generation tasks
# The paths should be relative to the project root
post_structs = [
  # "scripts/post_structs_generation.sh arg1 arg2",
  # "cargo fmt",
]
post_models = [
  # "scripts/post_models_generation.sh",
  # "cargo clippy",
]
# Script to run after any generation task
post_any = [
  # "scripts/notify_generation_complete.sh",
]

[codegen.models]
ignore= [
  "users",
  "spatial_ref_sys"
]

[codegen.structs]
ignore = [
  "users",
  "spatial_ref_sys"
]
derives = [
  "Debug",
  "Queryable",
  "Clone", 
  "Serialize", 
  "Deserialize"
]
imports = [
  "serde::Serialize",
  "serde::Deserialize",
  "diesel::Identifiable",
  "diesel::Queryable"
]

[codegen.structs.insertable]
# Tables to skip insertable struct generation
ignore = [
  "spatial_ref_sys"
]
derives = [
  "Debug",
  "Queryable",
  "Clone", 
  "Serialize", 
  "Deserialize"
]
imports = [
  "serde::Serialize",
  "serde::Deserialize",
  "diesel::Identifiable",
  "diesel::Queryable"
]

# Example of struct-specific imports (replace ExampleStruct with your struct name)
# [codegen.structs.ExampleStruct]
# imports = [
#   "chrono::NaiveDateTime",
#   "uuid::Uuid"
# ]

[assets]
public_dir = "public"

[assets.locale]
dir = "src/assets/locale"
default_language = "en"

[assets.materialize]
js_url = "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
public_dir = "js/materialize"

[assets.htmx]
js_url = "https://cdnjs.cloudflare.com/ajax/libs/htmx/2.0.4/htmx.min.js"
public_dir = "js/htmx"

[assets.materialicons]
base_url = "https://raw.githubusercontent.com/google/material-design-icons/master/font"
public_dir = "fonts/material-icons"
woff2 = "MaterialIcons-Regular.woff2"
ttf = "MaterialIcons-Regular.ttf"

[assets.fontawesome]
base_url = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/latest"
public_dir = "fonts/fontawesome"
css = ["css/all.min.css"]
js = ["js/all.min.js"]
sprites = ["sprites/brands.svg", "sprites/regular.svg", "sprites/solid.svg"]
webfonts = [
  "webfonts/fa-brands-400.ttf",
  "webfonts/fa-brands-400.woff2",
  "webfonts/fa-regular-400.ttf",
  "webfonts/fa-regular-400.woff2",
  "webfonts/fa-solid-900.ttf",
  "webfonts/fa-solid-900.woff2",
  "webfonts/fa-v4compatibility.ttf",
  "webfonts/fa-v4compatibility.woff2"
]


