<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }}</title>
    <script src="/public/js/htmx/htmx.min.js"></script>
    <link rel="stylesheet" href="/public/css/dark.min.css" />
    <link rel="stylesheet" href="/public/fonts/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="/public/css/app/index.min.css" />
    <!-- Spark meta tags -->
    {% for meta_tag in sparks.meta_tags %}
    {{ meta_tag | safe }}
    {% endfor %}

    <!-- Spark CSS -->
    {% for style in sparks.head_styles %}
    {{ style | safe }}
    {% endfor %}

    <!-- Spark scripts -->
    {% for script in sparks.head_scripts %}
    {{ script | safe }}
    {% endfor %}
  </head>

  <body class="grey darken-4 white-text">
