// -----------------------------------------------------
// _theme-dark.scss
// Purpose: Force a dark UI for Materialize components
// -----------------------------------------------------

@import "variables";

// -----------------------------------------------
// Base Overrides
// -----------------------------------------------
html,
body {
  background-color: $background-color !important;
  color: $text-color !important;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
// Typical text elements

#numbers-in-database {
  max-height: 350px;
  height: 350px;
  overflow-y: scroll;
}


#numbers-in-remote{
  max-height: 350px;
  height: 350px;
  overflow-y: hidden;
}

#phone-numbers-checkboxes{
  max-height: 220px;
  overflow-y: scroll;
}




a {
  color: $link-color !important;

  &:hover {
    color: lighten($link-color, 10%) !important;
  }
}

// Utility classes for borders, dividing lines
hr,
.divider {
  border-color: $border-color !important;
  background-color: $border-color !important;
}

// -----------------------------------------------
// Navbar & Sidenav
// -----------------------------------------------
.nav-wrapper {
  background-color: $primary-color !important;
  a,
  .brand-logo {
    color: text-contrast($primary-color) !important;
  }
}

.sidenav {
  background-color: $background-color !important;
  color: $text-color !important;

  li a {
    color: $text-color !important;
  }

  .user-view {
    background-color: darken($background-color, 8%) !important;
  }
}

// -----------------------------------------------
// Buttons
// -----------------------------------------------

.btn.is-active.waves-effect.waves-light {
  color: $secondary-color !important;
  background-color: text-contrast($secondary-color) !important;
}

.btn,
.btn-large,
.waves-effect.waves-light.btn {
  background-color: $secondary-color !important;
  color: text-contrast($secondary-color) !important;
}

.btn-flat,
.btn-large.btn-flat {
  color: $primary-color !important;
  &:hover {
    background-color: darken($primary-color, 10%) !important;
    color: text-contrast(darken($primary-color, 10%)) !important;
  }
}

.btn-floating {
  background-color: $secondary-color !important;
  color: text-contrast($secondary-color) !important;
}



.btn-flat{
  color: $primary-color !important;
  background-color: $secondary-color !important;
  &:hover {
    background-color: darken($primary-color, 10%) !important;
    color: text-contrast(darken($primary-color, 10%)) !important;
  }
}



// -----------------------------------------------
// Cards
// -----------------------------------------------
.card {
  background-color: $surface-color !important;
  border: 1px solid $border-color !important;
  .card-title,
  .card-content {
    color: $text-color !important;
  }
  .card-action a {
    color: $link-color !important;
  }
}

.card-panel {
  background-color: lighten($surface-color, 15%) !important; //$surface-color !important;
  border: lighten($border-color, 3%) !important; //$border-color !important;
  @extend .z-depth-2;
}

// -----------------------------------------------
// Modals
// -----------------------------------------------
.modal {
  background-color: $surface-color !important;
  color: $text-color !important;
  border: 1px solid $border-color !important;
}

.modal-footer {
  background-color: $surface-color !important;
  border-top: 1px solid $border-color !important;
  .modal-close,
  .btn-flat {
    color: $link-color !important;
  }
}

.modal-content .datepicker-container{
  position: initial !important;
}
.modal-content .timepicker-container{
  position: initial !important;
}

// -----------------------------------------------
// Dropdowns
// -----------------------------------------------
.dropdown-content {
  background-color: $surface-color !important;
  border: 1px solid $border-color !important;
  li > a,
  li > span {
    color: $text-color !important;
  }
}

// -----------------------------------------------
// Collapsible
// -----------------------------------------------
.collapsible-header {
  background-color: darken($surface-color, 5%) !important;
  color: $text-color !important;
  border-bottom: 1px solid $border-color !important;
}

.collapsible-body {
  background-color: $surface-color !important;
  border-bottom: 1px solid $border-color !important;
  color: $text-color !important;
}

.collapsible-body.log {
  background-color: $surface-color !important;
  color: $text-color !important;
  padding: 0 !important;
}

// -----------------------------------------------
// Chips (tags)
// -----------------------------------------------
.chip {
  font-family: monospace;
  background-color: darken($surface-color, 5%) !important;
  border: 1px solid $border-color !important;
  color: $text-color !important;
  .close {
    color: $error-color !important;
  }
}

.chip.keyword {
  font-size: 2.0em !important;
  padding: 15px !important;
  height: auto !important;
  font-weight: bold !important;
  input {
    height: auto !important;
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
    outline: none !important;
    text-decoration: none !important;
    background: none !important;
    font-family: monospace;
    background-color: darken($surface-color, 5%) !important;
    color: $text-color !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    max-width: 200px !important;
  }
  input:focus {
    box-shadow: none !important;
  }
}

.chip.keyword.hint {
  font-size: 1.0em !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  height: auto !important;
  font-weight: bold !important;
}

.li.log{
  line-height: 1rem !important;
  padding: 0 !important;
  height: 1rem !important;
  font-weight: bold !important;
}

.chip.log{
  line-height: 1rem !important;
  padding: 0 !important;
  height: 1rem !important;
  font-weight: bold !important;
}




// -----------------------------------------------
// Forms
// -----------------------------------------------


.copy-text {
  position: relative;
  padding-left: 20px;
  background: $surface-color;
  border: 1px solid $border-color;
  border-radius: 5px;
  display: flex;
}
.copy-text.auto-adjust {
  display: inline-flex;
}

.copy-text input.text {
  font-size: 18px;
  color: $text-color;
  border: none;
  outline: none;
}

.copy-text.auto-adjust input.text {
  padding-right: 20px;
  width: auto;
  min-width: 100px;
  max-width: 100%;
}

.copy-text button {
  padding: 10px;
  background: $background-color;
  color: $text-color;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;

  &:active {
    background: lighten($success-color, 10%);
  }

  &::before {
    content: "Copied";
    position: absolute;
    top: -45px;
    right: 0px;
    background: $success-color;
    padding: 8px 10px;
    border-radius: 20px;
    font-size: 15px;
    display: none;
  }

  &::after {
    content: "";
    position: absolute;
    top: -20px;
    right: 25px;
    width: 10px;
    height: 10px;
    background: $success-color;
    transform: rotate(45deg);
    display: none;
  }
}

.copy-text.active button::before,
.copy-text.active button::after {
  display: block;
}


.code-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.copy-btn {
  position: absolute;
  top: 15px;
  right: 0px;
  padding: 8px;
  background: $background-color;
  color: $text-color;
  font-size: 24px;
  border: none;
  cursor: pointer;
}

.copy-btn.active::before {
  content: "Copied";
  position: absolute;
  top: -20px;
  right: 0;
  background: $success-color;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  display: block;
}


.input-field input[type=text],
.input-field input[type=password],
.input-field input[type=email],
.input-field textarea {
  color: $text-color !important;
  border-bottom: 1px solid $border-color !important;
  &:focus {
    border-bottom: 1px solid $focus-color !important;
    box-shadow: 0 1px 0 0 $focus-color !important;
  }
}

.input-field label {
  color: $muted-text-color !important;
}

.select-dropdown {
  background-color: $primary-color !important;
  color: text-contrast($secondary-color) !important;
  border: 1px solid $border-color !important;
}

// Radio/Checkbox
[type="checkbox"] + span,
[type="radio"] + span {
  color: $text-color !important;
}

// File input
.file-field .file-path-wrapper input[type=text] {
  color: $text-color !important;
}

// Range
input[type=range] {
  &::-webkit-slider-thumb {
    background-color: $primary-color !important;
  }
  &::-webkit-slider-runnable-track {
    background-color: $border-color !important;
  }
}

label {
  color: text-contrast($primary-color) !important;
}

// -----------------------------------------------
// Tables
// -----------------------------------------------
.table-of-contents,
.table-of-contents ul {
  background-color: $surface-color !important;
  color: $text-color !important;
}

table.striped > tbody > tr:nth-child(odd) {
  background-color: darken($surface-color, 5%) !important;
}

th,
td {
  color: $text-color !important;
}

// -----------------------------------------------
// Tabs
// -----------------------------------------------
.tabs {
  color: text-contrast($link-color, 20%) !important;
  background-color: darken($surface-color, 5%) !important;
  border-top: 1px solid $collapsible-border-color;
  border-right: 1px solid $collapsible-border-color;
  border-left: 1px solid $collapsible-border-color;

  .tab a {
    color: $muted-text-color !important;
    &.active {
      background-color: $surface-color !important;
    }
  }
  .indicator {
    background-color: $link-color !important;
  }
}

// -----------------------------------------------
// Collection
// -----------------------------------------------
.collection {
  background-color: $surface-color !important;
  border: 1px solid $border-color !important;
  .collection-item {
    border-bottom: 1px solid $border-color !important;
    &:hover {
      background-color: darken($surface-color, 5%) !important;
      color: text-contrast($surface-color) !important;
    }
  }
}

.collection-item.log{
  min-height: 0 !important;
  padding-top: 5px !important;
  padding-bottom: 3px !important;
}

.material-icons.circle.pulse {
  position: relative;
  z-index: 1; /* Ensure icon is above the pulse */
}

.material-icons.circle.pulse::before {
  content: '';
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%; /* Adjust size for the glow */
  height: 100%;
  border-radius: 1000%;
  background-color: rgba(0, 255, 0, 0.3); /* Adjust color as needed */
  z-index: -1;
  opacity: 0.6;
  transform: translate(-100%, 100%);
  animation: pulse-animation 1.5s cubic-bezier(0.5, 2, 0.5, -1) infinite;
}



// -----------------------------------------------
// Footer
// -----------------------------------------------
.page-footer {
  background-color: $primary-color !important;
  color: text-contrast($primary-color) !important;
  a {
    color: text-contrast($primary-color) !important;
    &:hover {
      color: lighten(text-contrast($primary-color), 20%) !important;
    }
  }
}

// -----------------------------------------------
// Slider / Carousel
// -----------------------------------------------
.slider,
.carousel {
  background-color: $background-color !important;
  .carousel-item {
    background-color: $surface-color !important;
  }
}

.slider .indicators .indicator-item.active {
  background-color: $primary-color !important;
}

// -----------------------------------------------
// Toasts
// -----------------------------------------------
.toast {
  background-color: lighten($surface-color, 5%) !important;
  color: $text-color !important;
}

// -----------------------------------------------
// Misc
// -----------------------------------------------
.pulse {
  background-color: $primary-color !important;
  color: text-contrast($primary-color) !important;
}

.progress {
  height: 13px !important;
  border-radius: 7px !important;
  background-color: $primary-color !important;
  position: relative !important;

  .determinate {
    background-color: $success-color !important;
    z-index: 2 !important;
  }

  &.loading-bar{ 
    &:after {
      content: '' !important;
      position: absolute !important;
      top: 0 !important;
      left: 0 !important;
      right: 0 !important;
      bottom: 0 !important;
      background-image: linear-gradient(135deg, rgba($primary-color-light, 0.25) 25%, transparent 25%, transparent 50%, rgba($primary-color-light, 0.25) 50%, rgba($primary-color-light, 0.25) 75%, transparent 75%, transparent) !important;
      background-size: 20px 20px !important;
      animation: move-diagonal 1s linear infinite !important;
      z-index: 1 !important;
    }

  }
}

@keyframes move-diagonal {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 20px 20px;
  }
}

.is-success {
  background-color: $success-color !important;
  color: text-contrast($success-color) !important;
}

.is-danger {
  background-color: $error-color !important;
  color: text-contrast($error-color) !important;
}

.is-warning {
  background-color: $warning-color !important;
  color: text-contrast($warning-color) !important;
}

.is-warning-fa{
  color: $warning-color !important;
}

.is-success-fa{
  color: $success-color !important;
}

.is-danger-fa{
  color: $error-color !important;
}



// Overwrite other classes as needed...
*{

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
  }

  &:hover::-webkit-scrollbar {
    width: 6px;  // adjust as needed
    height: 6px;
    background-color: $primary-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $surface-color;

    &:hover {
      background-color: $surface-color;
    }
  }

  &::-webkit-scrollbar-track {
    background-color: $secondary-color;
  }
}

.topH{
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.select-wrapper + label {
  position: absolute;
  top: -36px;
  font-size: 1rem;
}

#callPanel{
  margin-bottom: 0 !important;
}

.script-holder{
  padding-top: 5px !important;
}

#lead_log{
  max-height: 167px;
  overflow-y: scroll;
}

@mixin theme($name, $color) {
  .theme-#{$name} {
    background-color: $color !important;
    color: text-contrast($color) !important;
  }
}

@mixin theme-bg($name, $color) {
  .theme-#{$name}-bg {
    background-color: $color !important;
  }
}

@mixin theme-text($name, $color) {
  .theme-#{$name}-text {
    color: $color !important;
  }
}

@include theme-bg(bg, $background-color);
@include theme-bg(surface, $surface-color);
@include theme-text(text, $text-color);
@include theme-text(heading, $heading-color);
@include theme-text(muted-text, $muted-text-color);
@include theme-text(dark, $primary-color-dark);
@include theme-text(darker, $primary-color-darker);
@include theme-text(alt, $secondary-color);
@include theme-text(success, $success-color);
@include theme-text(error, $error-color);
@include theme-text(warning, $warning-color);
@include theme-text(info, $info-color);



@include theme(primary, $primary-color);
@include theme-bg(light, $primary-color-light);
@include theme(lighter, $primary-color-lighter);
@include theme-bg(dark, $primary-color-dark);
@include theme-bg(darker, $primary-color-darker);
@include theme-bg(alt, $secondary-color);
@include theme-bg(success, $success-color);
@include theme-bg(error, $error-color);
@include theme-bg(warning, $warning-color);
@include theme-bg(info, $info-color);

.theme-border {
  border: 1.5px solid $primary-color-darker !important;
}

.theme-info-bg {
  background-color: $info-color !important;
}

.theme-link {
  color: $link-color !important;
}

.theme-focus {
  outline-color: $focus-color !important;
}

#callLater {
  max-height: 0 !important;
  overflow: hidden !important;
  transition: max-height 0.5s ease-in-out !important;
}
.show {
  max-height: 200px !important;
}

.am-btn.text-primary {
  color: text-contrast($background-color) !important;
  background-color: $background-color !important;
}

.pm-btn.text-primary {
  color: text-contrast($background-color) !important;
  background-color: $background-color !important;
}

#text_loading::after {
  content: '';
  display: inline-block;
  width: 1.5em; /* Adjust width to match the max width of dots */
  text-align: left !important;
  animation: dots 0.8s steps(4, end) infinite;
}


#dispositionModal{
  min-height: 80vh !important;
}

@keyframes dots {
  0% { content: ''; }
  25% { content: '.'; }
  50% { content: '..'; }
  75% { content: '...'; }
  100% { content: '....'; }
}


